<!DOCTYPE html>
<html>
    <head>
        <title>
            Change Detection
        </title>

        <link rel="stylesheet" href="../static/Design.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        
    </head>
    <body>
        <div class="bg-image"></div>
            <div class="bg-text">
                <h1>Change Dectection in Text</h1>
            </div>
            <form action="{{ url_for('predict')}}" method="POST" enctype = "multipart/form-data">
            <div class="drag-area" id="entry_value">
                <div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
                <header>Drag & Drop File</header>
                <span>OR</span>
                <div class="custom-file">
                  <input type="file" id="actual-btn" name="file"  class="file-upload" accept='.txt , .pdf , .docx' hidden required/>
                  <label for="actual-btn">Choose File</label>
                  <span id="file-chosen">No file chosen</span>
                </div>
                <br><br>
                <button type="submit" id="predict_btn" value="submit" class="btn btn-primary btn-block btn-large">Predict >></button>
            </div>
            </form>
    </body>
    <script src="../static/draganddrop.js"></script>
</html>